
.big-title {
  color: #c0c0c0;
}
.big-text {
  color: #c0c0c0;
}
.small-title {
  color: #c0c0c0;
}
.small-text {
  color: #c0c0c0;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.big-title {
  font-size: 200px; text-align:right; padding-right:15px;
}
.big-title-second {
  font-size:40px; font-family:monospace;
}
.big-text {
  font-size: 48px; text-align:right; padding-right:20px;
}
.small-title {
  text-align:right;
  font-size: 100px;
}
.small-text {
  text-align:right;
  font-size: 30px;
}

.padding40 {
  padding-top: 25px;
}

.big-clock {
  width: 1400px;
}
.big-clock > tbody > tr > .flag {
  width: 330px;
  padding-bottom: 60px;
}
.big-clock > tbody > tr > .flag > img {
  padding-top: 30px;
  width: 330px;
}

.small-clock {
  width: 680px;
}
.small-clock > tbody > tr > .flag > img {
  width:180px; padding-top:15px; padding-left:3px; padding-bottom: 65px;
}
