<div class="card-row d-flex flex-row justify-content-between align-items-center">
  <img class="flag" [src]="flag()" [alt]="state() + ' flag'" />
  <div class="times d-flex flex-column justify-content-center align-items-end text-white">
    <h1 class="time-primary">
      {{ now() | date: 'hh:mm a' : timeZone() }}
    </h1>
    <h5 class="time-detail mono">
      {{ now() | date: 'HH:mm:ss.SS zzzz' : timeZone() }}
    </h5>
    <h5 class="time-date mono">
      {{ now() | date: 'MMM d, y, zzzz' : timeZone() }}
    </h5>
  </div>
</div>
